form {
    margin: auto;
}
.root {
    display: flex;
  justify-content: center;
}
.container {
    margin: auto;
    text-align: center;
    display: inline-block;
    margin: 3rem;
}
.primary_text {
    color: white;
    margin-right: 3rem;
}
.inline {
    display: inline-block;

}